<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panadería Delicias - Header</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <h1>Dispositivos a la Venta</h1>
            <ul>
                <li><a href="../pages/index.html">Inicio</a></li>
                <li><a href="../pages/products.html">Productos</a></li>
                <li><a href="../pages/offers.html">Ofertas</a></li>
                <li><a href="../pages/contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>